.about_section {
    display: flex;
    align-items: center;
    margin: 4rem 0;
    gap: 2rem;

    @include respond_medium {
        flex-direction: column;
    }

    .images_container {
        flex-basis: 100%;
        display: flex;
        gap: 1rem;
        padding: 2rem 0;


        .frame {
            font-size: 0;
            line-height: 0;
            transition: all $primary_duration;

            img {
                width: 100%;
                height: auto;
            }

            &:nth-child(1) {
                transform: translateY(-20px);
            }
            &:nth-child(2) {
                transform: translateY(20px);
            }
        }
    }

    .text_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 2rem;
        flex-basis: 100%;
        color: $primary_text_clr;
        .title {
            @include primary_text_title;
        }
        .subtitle, .text {
            @include primary_text;
        }
        .subtitle {
            border-left: 3px solid $primary_clr;
            padding-left: 1rem;
        }
    }

    &:hover {
        .images_container {
            .frame {
                &:nth-child(1) {
                    transform: translateY(20px);
                }
                &:nth-child(2) {
                    transform: translateY(-20px);
                }
            }
        }
    }
}