.btn_primary {
    &:link,
    &:hover,
    &:active,
    &:visited,
    &:focus {
        text-decoration: none;
        }
    max-width: 230px;
    min-height: 56px;
    @include flex_center;
    background-color: $primary_clr;
    border-radius: 10px;
    letter-spacing: 1.6;
    font-weight: 500;
    color: white;
    transition: all 0.3s;
    &:hover {
        animation: pulse 1s ease infinite;
    }
}

@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 #8FC53C;
    }
    80% {
      box-shadow: 0 0 0 10px rgba(255, 134, 134, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);
    }
  }

