.fruits_section {
    margin: 4rem 0;
  .fruits_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 40px;

    @include respond_small {
      flex-direction: column;
    }

      .left_side {
        .ctgs {
          width: 230px;

          @include respond_small {
            width: 100%;
          }

          .checkbox {
            white-space: nowrap;
          }
        }
     }

      .right_side {
        width: 100%;

        .fruits {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;

            @include respond_medium {
              grid-template-columns: repeat(2, 1fr);
            }

            @include respond_small {
              grid-template-columns: 1fr;
            }
        }
      }


  }
}

.accordion-button {
  font-weight: 600;
}

.accordion-button:not(.collapsed) {
  background-color: $primary_clr !important;
  color: white !important;
}

.form-check-input:checked {
  background-color: $primary_clr !important;
  border-color: $primary_clr !important;
}