.suggestions {
    margin-bottom: 4rem;
    .products_slider {
        height: fit-content;
        position: relative;
        .swiper-pagination-bullets {
            position: static;
            margin-top: 40px;
            margin-bottom: 2.5rem;
            .swiper-pagination-bullet {
                --swiper-pagination-bullet-horizontal-gap: 6px;
                background-color: $primary_clr;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                position: relative;
                opacity: 1;
                margin: var(--swiper-pagination-bullet-horizontal-gap);
            }
            .swiper-pagination-bullet-active {
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: -12px;
                    margin-left: -12px;
                    width: 24px;
                    height: 24px;
                    border: 1px solid $primary_clr;
                    border-radius: 50%;
                }
            }
        }
    }
}