.sponsors_section {
    background-repeat: no-repeat;
    margin: 6rem 0;
    .sponsors_slider > .swiper-wrapper{
        transition-timing-function : linear;
      }

      .sponsors_slider {
        .swiper-slide {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;

            @include respond_small {
                width: 30%;
            }
            .frame {
                img {
                    font-size: 0;
                    line-height: 0;
                    width: 100%;
                    object-fit: contain;
                    height: auto;
                }
            }
          }
      }
}